<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    






    <table>

        <tr>
            <td>
                <div class="btn-group" role="group" aria-label="">
                    <div class="btn-group" role="group">
                        <button id="dropdownId" type="button" class="btn btn-primary "
                            style="background-color:  rgb(36, 126, 230)" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Farm {{data.farms}}
                        </button>

                    </div>
            <td>
                <div class="btn-group" role="group" aria-label="">

                    <div class="btn-group" role="group">
                        <button id="dropdownId" type="button" class="btn btn-primary "
                            style="background-color: rgb(36, 126, 230);" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Truck {{data.trucks}}
                        </button>
                    </div>
                </div>

            </td>

            <td>
                <div class="btn-group " role="group" aria-label="" style="margin-left: 5px">

                    <div class="btn-group" role="group">


                        <input type="submit" value="Save"
                            style="margin-right: 1%; color: aliceblue; padding: 8px; font-size: small;"
                            class="btn btn-primary ">
                        </button>
                    </div>
                </div>

                <div class="btn-group  " role="group" aria-label=""
                    style="margin-left: 670px; font-size: small;">

                    <div class="btn-group " role="group" style="margin-right:2ch;">

                        <a name="" id="" class="btn btn-danger " href="http://127.0.0.1:8000/search"
                            role="button" style="font-size: small;"> Search Between Dates </a>
                        </button>
                    </div>

                    <div class="btn-group " role="group">

                        <a name="" id="" class="btn btn-dark " href="http://127.0.0.1:8000/Export/"
                            role="button" style="font-size: small;"> Export Excel File </a>
                        </button>
                    </div>
                </div>
            </td>



            <div class="container" ">
                </div>
            </table>         



</body>
</html>